<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Carina</string>
    <key>uuid</key>
    <string>e5a5f0a0-1234-4567-89ab-cdef01234567</string>
</dict>
</plist>
